/* COLOR SCHEME
    000066-BLUE
    336600-GREEN
    663300-BROWN

*/

@import url('https://fonts.googleapis.com/css?family=Bungee|Press+Start+2P|Raleway&display=swap');

body {
    margin: 0;
}

.stream-canvas {
    width: 1920px;
    height: 1080px;
    background-color: #000000;
    display: flex;
}

.game-box {
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1226px;
    height: 1073px;
    color: #fff;
}

.sidebar {
    height: 1080px;
    width: calc(1920px - 1226px);
    /* background-color: #000066; */
    background: radial-gradient(farthest-corner at 500px 700px, #0000bb, #000066);
    display: flex;
    flex-direction: column;
}

.name-plate {
    background: radial-gradient(#663300, #774411);
    width: 80%;
    margin-left: 10%;
    color: #eee;
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 48px;
    margin-top: 50px;
    text-shadow: 5px 5px 10px #663300;
    margin-bottom: 50px;
}

.tracker {
    border: 20px ridge #336600;
    height: 500px;
    width: 80%;
    margin-left: calc(10% - 20px);
    background: radial-gradient(#000000, #000033)
}