@import url('https://fonts.googleapis.com/css?family=Bungee|Press+Start+2P|Raleway&display=swap');

.pad-status, .game-status {
    display: flex;
}

#padStatus, #gameStatus {
    margin-left: 20px;
}

#currentTime {
    font-family: 'Bungee', cursive;
    font-size: 64px;
    margin-top: 0;
    position: relative;
    bottom: 40px;
}

.time p {
    margin: 0;
}

body {
    background-color: #000000;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

main {
    background: radial-gradient(#000000, #000033)
}